@import "//at.alicdn.com/t/font_2902812_tio8cufl9o8.css";

:root {
    --transparent-color: #00000000;
    --brand-color: #409EFF;
    --deep-brand-color: #4077FF;
    --light-brand-color: #53A8FF;
    --very-light-brand-color: #A0CFFF;
    --background-brand-color: #ECF5FF;
    --success-color: #67c23a;
    --light-success-color: #F2F9ECFF;
    --warning-color: #E6A23C;
    --light-warning-color: #FDF6EDFF;
    --error-color: #F56C6C;
    --light-error-color: #FCF0F0;
    --info-color: #909399;
    --light-info-color: #F5F4F5FF;
    --border-color-level-1: #DCDFE6;
    --border-color-level-2: #E4E7ED;
    --border-color-level-3: #EBEEF5;
    --border-color-level-4: #F2F6FC;
    --white-color: #FFFFFF;
    --text-color: #303133;
    --common-text-color: #606266;
    --secondary-text-color: #909399;
    --disable-text-color: #C0C4CC;
    --overlay-color: rgba(0, 0, 0, 0.25);

    --focus-shadowbox: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    --focus-hightlight-shadowbox: 0 6px 12px rgba(64, 158, 255, 0.6), 0 0 18px rgba(64, 158, 255, 0.2);
    --open-shadowbox: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

body {
    color: var(--text-color);
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.global-check {
    position: fixed;
    z-index: 2048;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.2s ease all;
    background-color: var(--transparent-color);
}

.overlay {
    position: fixed;
    z-index: 4096;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.2s ease all;
    background-color: var(--overlay-color);
}

.normal-theme {
    color: var(--text-color);
    background-color: var(--white-color);
}

.normal-theme:disabled {
    cursor: not-allowed;
    background-color: var(--border-color-level-3);
    color: var(--disable-text-color);
}

.normal-theme-down {
    background-color: var(--border-color-level-4);
}

.theme {
    opacity: 0.8;
    color: var(--white-color);
}

.theme:hover {
    opacity: 0.6;
}

.theme:disabled {
    cursor: not-allowed;
    background-color: var(--border-color-level-3);
    color: var(--disable-text-color);
}

.theme-down {
    opacity: 1;
    color: var(--white-color);
}

.success-theme {
    background-color: var(--success-color);
}

.warning-theme {
    background-color: var(--warning-color);
}

.error-theme {
    background-color: var(--error-color);
}

.info-theme {
    background-color: var(--info-color);
}

.brand-theme {
    background-color: var(--brand-color);
}

.normal-tendency {
    color: var(--text-color);
    background-color: var(--white-color);
}

.success-tendency {
    color: var(--success-color);
    background-color: var(--light-success-color);
}

.warning-tendency {
    color: var(--warning-color);
    background-color: var(--light-warning-color);
}

.error-tendency {
    color: var(--error-color);
    background-color: var(--light-error-color);
}

.info-tendency {
    color: var(--info-color);
    background-color: var(--light-info-color);
}
